<body>
    <div id="main-header-container" class="main-header-container">
        <div class="header-content-container">
            <img src="../img/pokemon-23.svg" class="header-logo">
            <div class="search-container">
                <input id="search-field" type="text" onclick="clearSearch()">
                <div class="buttons">
                    <button onclick="searchPokemon()"><b>Suchen</b></button>
                    <button onclick="searchCancel()"><b>Zurück</b></button>
                </div>
            </div>
        </div>
    </div>
</body>
